*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root{
  --light-cyan:hsl(193, 38%, 86%);
  --neon-green:hsl(150, 100%, 66%);
  --graysh-blue:hsl(217, 19%, 38%);
  --dark-graysh-blue:hsl(217, 19%, 24%);
  --dark-blue:hsl(218, 23%, 16%);

  --font-size-quote:28px;
  --font-familly:'Manrope', sans-serif;
  --font-weight:800;
}

body{
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.advice-container{
  background-color: var(--dark-graysh-blue);
  font-family: var(--font-familly);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advice-title{
  color: var(--neon-green);
  margin-bottom: 20px;
}

.advice-content{
  font-family: var(--font-familly);
  font-weight: var(--font-weight);
  font-size: var(--font-size-quote);
  color: var(--light-cyan);
  text-align: center;
  margin-bottom: 30px;
}

.divider-img{
  margin-bottom: -10px;
}

.get-advice-btn{
  padding: 15px;
  background-color: var(--neon-green);
  border: none;
  border-radius: 100%;
  position: relative;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}

.get-advice-btn:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px var(--light-cyan);
}

@media screen and (max-width:500px){
  .advice-container{
    background-color: var(--dark-graysh-blue);
    font-family: var(--font-familly);
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}


